<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IoT operation</title>
    <form method="post">
        Bot<br>
        <input class="btn" type="submit" name="Trigger Press" value="Trigger Press">
        <input class="btn" type="submit" name="Trigger Up" value="Trigger Up">
        <input class="btn" type="submit" name="Trigger Down" value="Trigger Down"><br>
        Humidifier<br>
        <input class="btn" type="submit" name="Read" value="Read">
        <input class="btn" type="submit" name="Turn on" value="Turn On">
        <input class="btn" type="submit" name="Turn off" value="Turn Off">
        <input class="btn" type="submit" name="auto" value="Auto Mode">
        <input class="btn" type="submit" name="101" value="34% Atomization Efficiency">
        <input class="btn" type="submit" name="102" value="66% Atomization Efficiency">
        <input class="btn" type="submit" name="103" value="100% Atomization Efficiency">
    </form>

</head>
<body>

</body>
</html>